RewriteEngine On

# If the request is not a file
RewriteCond %{REQUEST_FILENAME} !-f
# If the request is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything to index.php
RewriteRule ^(.*)$ index.php/$1 [L]